// Padding
$desktopPadding: 0 3rem;
$phonePadding: 0 1rem;

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: $desktopPadding;
}

.App {
  text-align: center;
}

// Navbar
// HEADER
header {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 1rem;
}

hr {
  margin-top: -1.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  height: 45px;
  width: auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: -2rem;
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  gap: 1rem;
}

li {
  text-decoration: none;
}

.link,
link:active {
  color: #7aaaf9;
  text-decoration: none;
}

.active {
  color: #7aaaf9;
  text-decoration: underline;
}
